body {
    background: #B993D6;
    background: -webkit-linear-gradient(to right, #8CA6DB, #B993D6);
    background: linear-gradient(to right, #8CA6DB, #B993D6);
    overflow: auto;

}

.list {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 200px;
}
/* 상단바 */
.menu li {
    margin: 35px;
    display: inline;
}

.menu li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.menu ul {
    padding-left: 0px;
}

.menu {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    font-style: italic;
    align-items: center;
    text-align: center;
    padding-top: 80px;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
}
  #window5 h1 {
    padding-top: 140px;
    font-family: "Apple SD Gothic Neo", sans-serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 1.5;
    color: white;
    text-align: center;
  }
  .imglist {
    text-align: center;
  }
  .imglist img {
    width: 100px;
    margin-top: 140px;
    padding: 50px;
  }
  .imglist a {
    text-decoration: none;
  }
  